{% extends 'login_base.html' %}

{% block body %}
<div>
    <form class="center_location text-center" method="post">

        <h1 class="h3 mb-3 fw-normal">Create your blog!</h1>

        {% for message in get_flashed_messages() %}
        <p class="warning_text">{{ message }} </p>
        {% endfor %}

        <div>
            <label>Title</label>
            <input type="title" name="title" class="form-control fields_padding" id="floatingInput">
        </div>

        <div>
            <label>Text</label>
            <textarea class="textarea" name="text" id="Text"></textarea>
        </div>

        <button class="btn btn-lg btn-primary" type="submit">Post blog!</button>
    </form>
</div>
{% endblock %}