{% extends 'base_for_all_template.html' %}

{% block head %}
<link href="static/enter_registration.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block extra_buttons%}
<li><a href="/registration" class="nav-link px-2 link-dark">Registration</a></li>
{% endblock %}

{% block body %}

<form class="center_location text-center" method="post">

    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    {% for message in get_flashed_messages() %}
    <p class="warning_text">{{ message }} </p>
    {% endfor %}

    <div class="form-floating">
        <input type="email" name="email" class="form-control fields_padding" id="floatingInput"
               placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
        <input type="password" name="password" class="form-control fields_padding" id="floatingPassword"
               placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2017–2022</p>
</form>

{% endblock %}